hr {
    display: block;
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid #979797;
    margin: 1em auto;
    padding: 0;
    color: #979797;
    max-width: 1200px;
}
.venter{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self:  center;
}
header{
    overflow: hidden;
}
.max{
    max-width: 1200px;
    margin: auto;
}
body{
    background: #414040;
    background-image: linear-gradient(-223deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.40) 100%);
}
.mobile-menu{
    background-color: #888888;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5;
}
.mobile-menu ul{
    display: block;
    padding: 0;
    margin: 5rem 0 2rem 0;
    text-align: center;
    text-decoration:  none;
}
.mobile-menu ul li {
    margin-top: 0.9rem;
    display: block;
    color: #FFFFFF;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    /* text-decoration: none; */
}
.mobile-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
#close_icon{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.navbar{
    background: transparent;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline;
    overflow:  hidden;
    height: 79px;
}
.computer-nav{
    display: none;
}
.navbar button{
    background: rgba(215,215,215,0.00);
    /* MENU: */
    font-weight: 100;
    font-size: 0.7rem;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    margin: 0.8rem;
    border-radius: 0.4rem;
}
.navbar .navbar-brand{
    margin: 0.5rem;
}
.navbar-brand img{
    width: 40px;
    margin:  0.5rem;
}
.fl{
    /* float: left; */
}
.fr{
    float: right;
}
.menu{
    background: rgba(215,215,215,0.00);
    /* MENU: */
    font-weight: 100;
    font-size: 0.7rem;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    padding: 0.6rem;
}
.google-form{
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    width: 90%;
    /* height: 1px; */
    left: 0;
    max-width: 1000px;
}
iframe{
    border: 0px none;
    margin-left: -3.1rem;
    /* margin-right:  auto; */
    height: 680px;
    margin-top: -79.8px;
    width: 444px;
    /* display: block; */
    left:;
}
/*FOOTER
   ==========================================================*/
footer{
    text-align: center;
    background-color: #4B4B4B;
    margin: auto;
    overflow: hidden;
    padding: 1rem 0;
}
footer .list{
    display: inline-block;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-left: 15%;
}
#last{
    /* margin-right: 0%; */
    margin-left: 0rem;
    width: 20%;
}
footer ul{
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
}
footer ul li {
    margin-top: 0.5rem;
    display: block;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 0.7rem;

}
footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ul li:first-of-type{
    margin-top: 0;
}
footer div h3{
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-weight: 100;
    color: #FFFFFF;
}
footer div .footer_icon{
    text-align: center;
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    margin-top: 0.6rem;
}
.footer_icon:last-of-type{
    margin-right: 0px;
}
#footer_icon1{
    background-image: url("../img/icons/footer/insta.svg");
}
#footer_icon2{
    background-image: url("../img/icons/footer/twitter.svg");
}
#footer_icon3{
    background-image: url("../img/icons/footer/facebook.svg");
}
.legal{
    display: inline-block;
    margin-right: 20%;
}
.legal:last-of-type{
    margin-right: 0;
}
.legal h3 {
    font-weight: 100;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.legal .to_the_top_text{
    display: inline-block;
    vertical-align: super;
}
.legal .to_the_top{
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    background-image: url("../img/icons/footer/go-top-button.svg");
}
@media (min-device-width: 768px){
    .navbar .navbar-brand{
        margin: 0.6rem 0 0 0.5rem;
    }
    .navbar-brand img{
        width: 47px;
    }
    .navbar button{
        padding: 0.6rem;
        margin: 1rem;
    }
    .menu{
        padding: 0.6rem;
        font-size: 0.9rem;
    }
    .icon{
        margin-top: 60px;
    }
    iframe{
        width: 730px;
        margin-top: -185px;
        height: 770px;
    }
    .google-form{
        width: 80%;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 1400px;
        /* margin: auto; */
        margin-top:  0;
        margin-bottom:  0;
        margin-right:  auto;
        margin-left:  auto;
    }
    footer #top-button{
        display: none;
    }
    footer .inline{
        display: inline-block;
        margin-right: 1rem;
    }
    footer .inline:last-of-type{
        margin-right: 0;
    }
    footer .legal{
        margin-right: 0;
    }
    iframe{width: 740px;height: 790px;}
    .google-form{width: 51%;max-width:  643px;}
}
