/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    /* height:  100%; */
}

/*  ================================================================
    the padding and border size do not affect the width of the box
    ================================================================ */

* {
    box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
    background-color: white;
}

/*
 * A better looking default horizontal rule
 */

hr {display: block;width: 80%;height: 1px;border: 0;border-top: 1px solid #979797;margin: 1em auto;padding: 0;color: #979797;max-width: 1200px;}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    /* vertical-align: middle; */
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.venter{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self:  center;
}
.loader{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #414040;
    overflow: hidden;
    text-align: center;
    z-index:20;
}
.remove-loader{
    animation: remover 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

div#loader {}
@keyframes remover {
   from {opacity: 100; display: flex}
    to {opacity: 0; display: none}
}
.loader img{
    margin-top: 35%;
    background-size: contain;
}
.loader p{
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 10px;
    margin-top: 3rem;
}
    /*NAVIGATION AND HERO
    ====================================================*/
.mobile-menu{
    background-color: #888888;
    position: absolute;
    width: 100%;
    display: none;
}
.mobile-menu ul{
    display: block;
    padding: 0;
    margin: 5rem 0 2rem 0;
    text-align: center;
    text-decoration:  none;
}
.mobile-menu ul li {
    margin-top: 0.9rem;
    display: block;
    color: #FFFFFF;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    /* text-decoration: none; */
}
.mobile-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
#close_icon{
    font-size: 1rem;
    margin-bottom: 1rem;
}
h1, h2{
    font-family: inherit;
    font-weight: 100;
}
.navbar{
    background: transparent;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline;
    overflow:  hidden;
    height: 79px;
}
.computer-nav{
    display: none;
}
.navbar button{
    background: rgba(215,215,215,0.00);
    /* MENU: */
    font-weight: 100;
    font-size: 0.7rem;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    margin: 0.8rem;
    border-radius: 0.4rem;
}
.navbar .navbar-brand{
    margin: 0.5rem;
}
.navbar-brand img{
    width: 40px;
    margin:  0.5rem;
}
.menu{
    background: rgba(215,215,215,0.00);
    /* MENU: */
    font-weight: 100;
    font-size: 0.7rem;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    padding: 0.6rem;
}
.fl{
    /* float: left; */
}
.fr{
    float: right;
}
.hero{
    background-image: url("../img/bg1_2x.png");
    background-size: 60.1vh;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.hero article{
    /* padding: 70% 0 0 0; */
}
.head {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
}
.icon{
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
/* purchase-button: */
.button {
    background: #ECCB80;
    border-radius: 50px;
    font-size: 11px;
    color: #4B4B4B;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    max-width: 230px;
    width: 63%;
    text-decoration: none;
}

    /*COMMON STYLES
    ===========================================================*/
#intro-bg{
    background: #414040;

    /* Rectangle Copy 5: */
    background-image: linear-gradient(-223deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.40) 100%);
}

    /*INTRO'
    ===========================================================*/
.intro{
    /* background-color: #3a3a3a; */
    overflow:  hidden;
    /* border:  0; */
    /* border-radius:  0; */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* border-color: transparent; */
}
.intro p {
    font-weight: 100;
    border:  0;
}
.intro #intro-letter{
    font-size: 3rem;
}

    /*LET'S CONNECT'
    ===========================================================*/

.social{
    /* background: #414040; */

    /* Rectangle Copy 5: */
    /* background-image: linear-gradient(-223deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.40) 100%); */
    /* Sketch doesnt export pattern fills at this point */
    overflow: hidden;
    text-align: center;
    padding: 0.3rem 0;
    /* border: none; */
    /* border-color:  transparent; */
    border-style:  none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.social_icon{
    text-align: center;
    display: inline-block;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    margin-right: 0.7rem;
}
.social_icon:last-of-type{
    margin-right: 0px;
}
#facebook{
    background-image: url("../img/icons/facebook.svg");
}
#twitter{
    background-image: url("../img/icons/twitter.svg");
}
#instagram{
    background-image: url("../img/icons/instagram.svg");
}
#snapchat{
    background-image: url("../img/icons/snapchat.svg");
}

    /*SQUASH
    ============================================================*/
.squash{
    overflow: hidden;
    text-align: center;
    height: 85vh;
    background-image: url("../img/bg2_2x.png");
    background-repeat-y: no-repeat;
    background-color: #0000009c;
    background-blend-mode: darken;
    background-size: 100vw 85vh;
    position: relative;
    vertical-align: middle;
}
.squash .squash_h2{
    display: block;
    overflow: hidden;
    /* padding-right: 0.7rem; */
    /* margin-top: 1rem; */
    /* vertical-align: middle; */
    text-align: center;
}
.sub-title{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 0;
    letter-spacing: 0.3rem;
    display: block;
}
.title{
    display: BLOCK;
    /* width: 58%; */
    font-size: 1.9rem;
    line-height: normal;
    letter-spacing: 3px;
    /* margin-top: 1.5rem; */
    margin: 0;
    color: white;
    /* vertical-align: middle; */
}
.learn_more_button{
    background: #ECCB80;
    border-radius: 50px;
    font-size: 11px;
    color: #4B4B4B;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    width: 12rem;
    /* position: absolute; */
    /* top: 80%; */
    /* left: 50%; */
    /* right: 0; */
    text-decoration: none;
    max-width: 250px;
    /* vertical-align: middle; */
}
.vector{
    width: 2rem;
    display: block;
    text-align: center;
}
    /*MUSIC
    ==============================================================*/
.music{
    overflow: hidden;
    text-align: right;
    height: 85vh;
    background-image: url("../img/IMG_1223@0,2x.gif");
    background-repeat: no-repeat;
    background-color: #00000017;
    background-blend-mode:  darken;
    position: relative;
    background-position: center;
    background-size: 60vh;
}
.music h2{
    font-weight: 100;
    letter-spacing: 1.7px;
    /* margin-right: 4rem; */
    /* margin-left: 0.8rem; */
    display: block;
}
.center{
    text-align: center;
}
    /*QUOTE
    ==============================================================*/
.quote{
    background: #414040;

    /* Rectangle Copy 5: */
    background-image: linear-gradient(-223deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.40) 100%);
    /* Sketch doesnt export pattern fills at this point */
    overflow: hidden;
    text-align: center;
    padding: 2rem 0.5rem;
    /* margin-bottom: 0; */
}

.quote h3{
    font-weight: 100;
    color: #AFADAD;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: normal;
}

    /*ACADEMY
    =============================================================*/
.academy{
    overflow: hidden;
    text-align: right;
    height: 85vh;
    background-image: url("../img/bg_academy.png");
    background-repeat-y: no-repeat;
    background-color: #00000059;
    background-blend-mode:  darken;
    background-size: cover;
    position: relative;
}
.academy h2{
    /* font-size: 1.2rem; */
    /* letter-spacing: 0.3px; */
    /* width: 90%; */
    /* text-align: left; */
    /* margin-left: auto; */
    /* margin-top: 2rem; */
}

    /*SPONSORS
    ==============================================================*/
.sponsors{
    overflow: hidden;
    text-align: center;
    background-color: #202020;
    position: relative;
    padding: 2rem 0;
    /* border:  0; */
    /* border-bottom-color:  black; */
}
.sponsors_container{
    overflow: hidden;
    display: inline;
    margin: auto;
}
.sponsor_l{
    display: block; !important
    background-repeat: no-repeat;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
.sponsor_l:first-of-type{
    margin-top: 0;
}
#salming{
    background-image: url("../img/sponsors/salming.png");
    height: 28px;
    width: 197px;
    background-size: 197px 28px;
}
#prince{
    background-image: url("../img/sponsors/prince.png");
    height: 62px;
    width: 162px;
    background-size: 162px 62px;
}
#pharco{
    background-image: url("../img/sponsors/pharco.png");
    height: 115px;
    width: 77px;
    background-size: 77px 115px;
}

    /*GET IN TOUCH
    ===============================================================*/
.get_in_touch{
    text-align: center;
    background-color: #4B4B4B;
    margin: auto;
    overflow: hidden;
    padding: 1rem 0;
}
.get_in_touch h2{
    color: #FFFFFF;
}
.card{
    width: 75%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    /* silver-bg: */
    border-radius: 8px;
    background: #4B4B4B;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.50);
    background-image: linear-gradient(-165deg, #FFFFFF -37%, rgba(255,255,255,0.00) 61%);
    background-blend-mode: soft-Light;
    /* Sketch doesnt export pattern fills at this point */
    border-radius: 8px;
    padding: 1rem 0;
    max-width: 576px;
}
.card form{
    text-align: center;
    margin: auto;
    text-decoration: none;
}
.card form textarea{
    display: block;
    /* form: */
    opacity: 0.8;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height:2.2rem;
    width: 75%;
    padding:0.4rem;
    font-size: 0.7rem;
    color: #4B4B4B;
}
.card form .input{
    display: block;
    /* form: */
    opacity: 0.8;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height:2.2rem;
    width: 75%;
    padding:0.4rem;
    font-size: 0.7rem;
    color: #4B4B4B;
}
.card form textarea:first-of-type{
    margin-top: 0;
}
#message{
    height: 6rem;
}
.get_in_touch form input,h5{
    display: inline-block;
}
.sub{
    text-decoration: none;
    background: #ECCB80;
    border-radius: 50px;
    font-size: 11px;
    color: #4B4B4B;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    width: 43%;
    margin-top: 1rem;
    border-width: 0px;
}

    /*FOOTER
    ==========================================================*/
footer{
    text-align: center;
    background-color: #4B4B4B;
    margin: auto;
    overflow: hidden;
    padding: 1rem 0;
}
footer .list{
    display: inline-block;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-left: 10%;
}
#last{
    /* margin-right: 0%; */
    margin-left: 0rem;
    width: 20%;
}
footer ul{
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
}
footer ul li {
    margin-top: 0.5rem;
    display: block;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 0.7rem;
    text-decoration:  none;
}
footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ul li:first-of-type{
    margin-top: 0;
}
footer div h3{
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-weight: 100;
    color: #FFFFFF;
}
footer div .footer_icon{
    text-align: center;
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    margin-top: 0.6rem;
}
.footer_icon:last-of-type{
    margin-right: 0px;
}
#footer_icon1{
    background-image: url("../img/icons/footer/insta.svg");
}
#footer_icon2{
    background-image: url("../img/icons/footer/twitter.svg");
}
#footer_icon3{
    background-image: url("../img/icons/footer/facebook.svg");
}
.legal{
    display: inline-block;
    margin-right: 20%;
}
.legal:last-of-type{
    margin-right: 0;
}
.legal h3 {
    font-weight: 100;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.legal .to_the_top_text{
    display: inline-block;
    vertical-align: super;
}
.legal .to_the_top{
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    background-image: url("../img/icons/footer/go-top-button.svg");
}
@media (min-device-width: 576px){
    .hero{
        background-image: url("../img/squash7904_2@0,5x.png");
        background-size: cover;
        background-position: -30rem;
        overflow: hidden;
    }
    .hero article{
        /* padding: 30rem 0 0 0; */
    }
    .icon{
        margin-top: 50%;
    }
}
@media (min-device-width: 768px){
    .hero article{
        /* padding: 25rem; */
    }
    .navbar .navbar-brand{
        margin: 0.6rem 0 0 0.5rem;
    }
    .navbar-brand img{
        width: 47px;
    }
    .navbar button{
        padding: 0.6rem;
        margin: 1rem;
    }
    .menu{
        padding: 0.6rem;
        font-size: 0.9rem;
    }
    .icon{
        margin-top: 60px;
    }
    .social_icon{
        margin-right: 2rem;
        background-size: 80px 80px;
        height: 80px;
        width: 80px;
    }
    .head{
        font-size: 2rem;
        line-height: 35px;
        font-weight: 100;
        font-family: sans-serif;
    }
    .squash{
        background-image: url("../img/Ramy_Ashour_2017_2082@0,2x.png");
        background-size: cover;
        background-color: #0000005e;
        background-blend-mode: darken;
        background-position-x: center;
    }
    .title{
        font-size: 2rem;
        /* margin-top: 4rem; */
        /* margin-right: 0.8rem; */
    }
    .music{
        background-image: url("../img/IMG_1223@0,23x.gif");
        height: 85vh;
        position: relative;
        background-size: cover;
        text-align: center;
    }
    q{
        font-size: 1.5rem;
    }
    footer .list{
        /* margin-left: 0; */
        /* margin: 0px; */
    }
}
@media (min-width: 992px){
    .flex{
        display: flex;
        overflow:  hidden;
        /* justify-self:  stretch; */
        justify-content: center;
    }
    .hero{
        background-position: center;
    }
    .hero article{
        /* padding: 21% 0 0 0; */
    }
    .icon{
        margin-top: 5rem;
    }
    .card-fl{
        float: left;
    }
    .squash{
        width: 35%;
        background-size: cover;
        height: 75vh;
        /* margin: auto; */
        /* display: inline-block; */
    }
    .squash .squash_h2 h2{
        font-size: 1.3rem;
        width: 70%;
    }
    .music{
        width: 35%;
        height: 75vh;
        background-image: url("../img/IMG_1223@0,2x.gif");
        background-position-y: center;
        background-size: cover;
        background-position-x: center;
        /* margin: auto; */
        display: flex;
    }
    .quote{
        background: none;
        background-image: none;
    }
    .academy{
        width: 35%;
        height: 72vh;
        margin: 1rem auto;
        /* margin-bottom: 24px; */
        /* padding-bottom: 79rem; */
    }
    .academy-container{
        background: #414040;
        background-image: linear-gradient(-223deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.40) 100%);
        /* margin: auto; */
        /* margin-bottom: 1rem; */
        overflow: hidden;
    }
    .sponsor_l{
        margin-top: 0;
    }
    .sponsors_container{
        overflow: hidden;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        /* width: 50%; */
        max-width: 60%;
    }
    .container{
        max-width: 1400px;
        /* margin: auto; */
        margin-top:  0;
        margin-bottom:  0;
        margin-right:  auto;
        margin-left:  auto;
    }
    .extender{
        background: #414040;
        background-image: linear-gradient(-223deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.40) 100%);
    }
    footer #top-button{
        display: none;
    }
    footer .inline{
        display: inline-block;
        margin-right: 1rem;
    }
    footer .inline:last-of-type{
        margin-right: 0;
    }
    footer .legal{
        margin-right: 0;
    }
}
@media (min-width: 1200px){
    .hero{
        background-image: url("../img/squash7904_2@0.7x.gif");
    }
    .academy-container {
        background: none;
        background-image: none;
    }
    .social{
        background: none;
        background-image: none;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
